<!DOCTYPE html>
<html>
  {{> header}}
  <body>

  <form action="/cardinfo" method="get">
    <input type="text" name="cardName" />
    <input type="submit" value"Submit!" />
  </form>

  {{> footer}}
  </body>
</html>
